{% extends 'portfolio/base.html' %}
{% block content %}

<main role="main">
  <section class="jumbotron text-center" style="background: url('media/portfolio/images/my preferebale2.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;" class="jumbotron text-center">
    <!-- <div class="container1">
      <p class="lead text-muted">Lori is a self taught programmer, doctor and special agent. Ask anything</p>
    </div> -->
    <div class="container">
        <!-- <h1>L'oreo</h1> -->
        <p class="lead text-muted">eager polymath, doctor of gonzo journalism and special connoisseur. Ask anything</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
  <div class="container">
    <h2 class="mt-5">Portfolio</h2>
    <hr>
  <div class="footer_padding">
    <div class="row">
      {% for project in projects %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="{% url 'project_detail' project.id %}" style="color:#252529; text-decoration: none;"><img src="{{ project.image.url }}" height="250" width="348">
          <div class="card-body">
            <h4>{{ project.title }}</h4>
            <p class="card-text">{{ project.description|striptags|truncatechars:50 }}</p></a>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>

</main>

<footer class="footer_detail">
  <div class="container">
    <p>© 2020 Enjoy. All rights reserved</p>
  </div>
</footer>


{% endblock %}

<script type="text/javascript" src="http://localhost:35729/livereload.js">

</script>
<!--
    <h1>This is home page</h1>
    {% load static %}
    <a href="{% url 'blog:all_blogs' %}">Blogs</a>
    <br>
    <a href="{% static 'portfolio/lorand-mihaly.pdf' %}" target="_blank">Resume</a>
    <br>
    <img src="{% static 'portfolio/waterfall.jpg' %}" width="280" height="400">
    {% for project in projects %}

    <h2>{{ project.title }}</h2>
    <p>{{ project.description }}</p>
    <img src="{{ project.image.url }}" height="250" width="250"/>
    {% if project.url %}
    <br><a href="{{ project.url }}" target="_blank">Link</a>
    {% endif %}

    {% endfor %}
