<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">countx = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">counto = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">count = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">lst = [&#39; &#39;, &#39; &#39;, &#39; &#39;, &#39; &#39;, &#39; &#39;, &#39; &#39;, &#39; &#39;, &#39; &#39;, &#39; &#39;]</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;"># make sure correct entry when choosing (either &#39;x&#39; or &#39;o&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">def invalid():</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; global lst</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; global counto</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; global countx</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; countx = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; counto = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; count = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp;Invalid input&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; les = input(&#39; &nbsp; &nbsp;Choose your mark between X and O: &#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; if les.lower() == &#39;x&#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; counto += 1</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; print(&#39; &nbsp; &nbsp;X goes first&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; board()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; elif les.lower() == &#39;o&#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; countx += 1</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; print(&#39; &nbsp; &nbsp;O goes first&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; board()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; else:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; invalid()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">#ask if player wants to play again in the end</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">def question():</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; global lst</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; global counto</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; global countx</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; countx = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; counto = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; count = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; ques = input(&#39; &nbsp; &nbsp;Would you like to play again? Y/N: &#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; if ques.lower() == &#39;y&#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; lst = [&#39; &#39;, &#39; &#39;, &#39; &#39;, &#39; &#39;, &#39; &#39;, &#39; &#39;, &#39; &#39;, &#39; &#39;, &#39; &#39;]</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; les = input(&#39; &nbsp; &nbsp;Choose your mark between X and O: &#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; if les.lower() == &#39;x&#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; counto += 1</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; elif les.lower() == &#39;o&#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; countx += 1</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; board()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; else:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; invalid()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;"><br></span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; steuerbord()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; elif ques.lower() == &#39;n&#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; print(&#39; &nbsp; &nbsp;Thanks for playing&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; else:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; print(&#39; &nbsp; &nbsp;Invalid input&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; question()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;"><br></span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">#BOARD()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">def board():</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39;\n&#39; * 100)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp; &nbsp;&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {} &nbsp; &nbsp; | &nbsp; {} &nbsp; &nbsp;| &nbsp; &nbsp;{} &nbsp;&#39;.format(lst[6], lst[7], lst[8]))</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; --------|--------|--------&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp; &nbsp;&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {} &nbsp; &nbsp; | &nbsp; {} &nbsp; &nbsp;| &nbsp; {} &nbsp; &#39;.format(lst[3], lst[4], lst[5]))</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp; &nbsp;&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; --------|--------|--------&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {} &nbsp; &nbsp; | &nbsp; {} &nbsp; &nbsp;| &nbsp; {} &nbsp; &#39;.format(lst[0], lst[1], lst[2]))</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp; &nbsp;&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;"><br></span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">#Input x</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">def inpx():</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; global lst</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; global countx</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; global count</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; while True:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; try:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; pos = int(input(&quot; &nbsp; &nbsp;X&#39;s move: &quot;))</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if lst[pos - 1] == &#39; &#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; lst[pos - 1] = &#39;X&#39;</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; count += 1</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; board()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; else:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print(&#39; &nbsp; &nbsp;That square is already taken&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; inpx()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; except:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print(&#39; &nbsp; &nbsp;Invalid input&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; else:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; break</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">#Input o</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">def inpo():</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; global lst</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; global counto</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; global count</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; while True:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; try:#makes sure that position on board is still empty</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; pos = int(input(&quot; &nbsp; &nbsp;O&#39;s move: &quot;))</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if lst[pos - 1] == &#39; &#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; lst[pos - 1] = &#39;O&#39;</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; count += 1</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; board()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; else:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print(&#39; &nbsp; &nbsp;That square is already taken&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; inpo()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; except:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print(&#39; &nbsp; &nbsp;Invalid input&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; else:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; break</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">#Start message</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">print(&#39;\n&#39; * 100)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">print(&#39; &nbsp; &nbsp;**********************&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">print(&#39; &nbsp; &nbsp;WELCOME TO TIC TAC TOE&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">print(&#39; &nbsp; &nbsp;**********************&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">print(&#39; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">print(&#39; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">print(&#39; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">pros = input(&#39; &nbsp; &nbsp;Choose your mark between X and O: &#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">if pros.lower() == &#39;x&#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; board()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp;Use your numpad to place marks on board&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp;X goes first&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; inpx()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; countx += 1</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;"><br></span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">elif pros.lower() == &#39;o&#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; board()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp;Use your numpad to place marks on board&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; print(&#39; &nbsp; &nbsp;O goes first&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; inpo()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; counto += 1</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">else:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; invalid()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">#game rules</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">def steuerbord():</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; #alternates between putting x and o on the board and checks for win-if player 1 chose x</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; global count</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; if countx &gt; counto:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; while True:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if lst[0] == &#39;X&#39; and lst[1] == &#39;X&#39; and lst[2] == &#39;X&#39; or lst[3] == &#39;X&#39; and lst[4] == &#39;X&#39; and lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5] == &#39;X&#39; or lst[6] == &#39;X&#39; and lst[7] == &#39;X&#39; and lst[8] == &#39;X&#39; or lst[0] == &#39;X&#39; and lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3] == &#39;X&#39; and lst[6] == &#39;X&#39; or lst[0] == &#39;X&#39; and lst[4] == &#39;X&#39; and lst[8] == &#39;X&#39; or lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6] == &#39;X&#39; and lst[4] == &#39;X&#39; and lst[2] == &#39;X&#39; or lst[1] == &#39;X&#39; and lst[4] == &#39;X&#39; and lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 7] == &#39;X&#39; or lst[2] == &#39;X&#39; and lst[5] == &#39;X&#39; and lst[8] == &#39;X&#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print(&#39; &nbsp; &nbsp;X won!&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; count = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; question()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; break</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; elif count &gt;= 9:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print(&quot; &nbsp; &nbsp;Draw game!&quot;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; count = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; question()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; break</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; inpo()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if lst[0] == &#39;O&#39; and lst[1] == &#39;O&#39; and lst[2] == &#39;O&#39; or lst[3] == &#39;O&#39; and lst[4] == &#39;O&#39; and lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5] == &#39;O&#39; or lst[6] == &#39;O&#39; and lst[7] == &#39;O&#39; and lst[8] == &#39;O&#39; or lst[0] == &#39;O&#39; and lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3] == &#39;O&#39; and lst[6] == &#39;O&#39; or lst[0] == &#39;O&#39; and lst[4] == &#39;O&#39; and lst[8] == &#39;O&#39; or lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6] == &#39;O&#39; and lst[4] == &#39;O&#39; and lst[2] == &#39;O&#39; or lst[1] == &#39;O&#39; and lst[4] == &#39;O&#39; and lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 7] == &#39;O&#39; or lst[2] == &#39;O&#39; and lst[5] == &#39;O&#39; and lst[8] == &#39;O&#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print(&#39; &nbsp; &nbsp;O won!&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; count = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; question()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; break</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; elif count &gt;= 9:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print(&quot; &nbsp; &nbsp;Draw game!&quot;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; count = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; question()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; break</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; inpx()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; #alternates between puttin x and o on the board and checks for win-if player 1 chose o</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; elif counto &gt; countx:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; while True:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if lst[0] == &#39;O&#39; and lst[1] == &#39;O&#39; and lst[2] == &#39;O&#39; or lst[3] == &#39;O&#39; and lst[4] == &#39;O&#39; and lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5] == &#39;O&#39; or lst[6] == &#39;O&#39; and lst[7] == &#39;O&#39; and lst[8] == &#39;O&#39; or lst[0] == &#39;O&#39; and lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3] == &#39;O&#39; and lst[6] == &#39;O&#39; or lst[0] == &#39;O&#39; and lst[4] == &#39;O&#39; and lst[8] == &#39;O&#39; or lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6] == &#39;O&#39; and lst[4] == &#39;O&#39; and lst[2] == &#39;O&#39; or lst[1] == &#39;O&#39; and lst[4] == &#39;O&#39; and lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 7] == &#39;O&#39; or lst[2] == &#39;O&#39; and lst[5] == &#39;O&#39; and lst[8] == &#39;O&#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print(&#39; &nbsp; &nbsp;O won!&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; count = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; question()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; break</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; elif count &gt;= 9:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print(&quot; &nbsp; &nbsp;Draw game!&quot;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; count = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; question()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; break</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; inpx()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if lst[0] == &#39;X&#39; and lst[1] == &#39;X&#39; and lst[2] == &#39;X&#39; or lst[3] == &#39;X&#39; and lst[4] == &#39;X&#39; and lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5] == &#39;X&#39; or lst[6] == &#39;X&#39; and lst[7] == &#39;X&#39; and lst[8] == &#39;X&#39; or lst[0] == &#39;X&#39; and lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3] == &#39;X&#39; and lst[6] == &#39;X&#39; or lst[0] == &#39;X&#39; and lst[4] == &#39;X&#39; and lst[8] == &#39;X&#39; or lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6] == &#39;X&#39; and lst[4] == &#39;X&#39; and lst[2] == &#39;X&#39; or lst[1] == &#39;X&#39; and lst[4] == &#39;X&#39; and lst[</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 7] == &#39;X&#39; or lst[2] == &#39;X&#39; and lst[5] == &#39;X&#39; and lst[8] == &#39;X&#39;:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print(&#39; &nbsp; &nbsp;X won!&#39;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; count = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; question()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; break</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; elif count &gt;= 9:</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; print(&quot; &nbsp; &nbsp;Draw game!&quot;)</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; count = 0</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; question()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; break</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; inpo()</span></p>
<p><span style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">steuerbord()</span></p>
